@using System.Configuration;
<!DOCTYPE html>
<html lang="en">
@{
  var app = ConfigurationManager.AppSettings;
}
<head>
  <title>@ViewBag.Title</title>
  <meta charset="utf-8" />
  @if (ViewBag.noRobot != null)
  {
  <meta name="robots" content="noindex,nofollow" />
  }
  else
  {
  <meta name="robots" content="noindex,nofollow" />
  }
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="@ViewBag.Description" />
  <meta name="author" content="anaheimcore" />
  <meta property="twitter:site" content="&#64;artistandsocial" />
  <meta property="twitter:creator" content="&#64;artistandsocial" />
  <meta property="og:title" content="@ViewBag.Title" />
  <meta property="og:type" content="blog" />
  <meta property="og:url" content="@Request.Url.AbsoluteUri" />
  <meta property="og:site_name" content="@app["appName"]" />
  <meta property="og:description" content="@ViewBag.Description" />
  <meta property="og:image" content="~/Content/Images/frontendplay.png" />
  <link rel="alternate" type="application/rss+xml" title="@app["appName"] feed" href="~/feed" />
  <link rel="profile" href="http://gmpg.org/xfn/11" />
  <link rel="shortcut icon" type="image/ico" href="~/Content/Images/frontendplay.ico" />
  <link rel="icon" type="image/png" href="~/Content/Images/frontendplay.png" />
  <link rel="image_src" href="~/Content/Images/frontendplay.png" />
  @if (!String.IsNullOrEmpty(ViewBag.RelPrev))
  {
  <link rel="prev" href="@ViewBag.RelPrev">
  }
  @if (!String.IsNullOrEmpty(ViewBag.RelNext))
  {
  <link rel="next" href="@ViewBag.RelNext">
  }
  @Styles.Render("~/bundles/stylesheet")
  @Scripts.Render("~/bundles/headjavascript")
</head>
  
<body>
  <div id="play">
    <header>
      <h1>
        <a href="/">@app["appName"]<img src="~/Content/Images/frontendplay.png" alt="@app["appName"]" title="@app["appName"]"></a>
      </h1>
      <h2>stories about css, javascript, ASP.NET and PC's</h2>
    </header>
    <nav>
      <a href="/">stories</a>
      <a href="~/archive">archive</a>
      <a href="~/about">about</a>
    </nav>
    <div id="area">
      @RenderBody()
    </div>
    <footer>
      <div class="social">
        <a href="https://www.twitter.com/artistandsocial" class="twitter" title="Tobias Klika on twitter"><i class="entypo-twitter"></i></a>
        <a href="~/feed" class="rss" title="frontendplay feed"><i class="entypo-rss"></i></a>
        <a href="http://dribbble.com/twentythree" class="dribbble" title="Tobias Klika on dribbble"><i class="entypo-dribbble"></i></a>
        <a href="https://github.com/ceee" class="github" title="Tobias Klika on github"><i class="entypo-github"></i></a>
      </div>
      @Html.Partial("../Blog/_RecentPosts", new frontendplay.ViewModels.DefaultViewModel())
      <div class="bottom">&copy; @DateTime.Now.Year @app["appName"], a blog by&nbsp;<a href="http://www.anaheimcore.com">anaheimcore</a>
      </div>
    </footer>
  </div>
  <a href="#" id="backtotop">back to top
    <i class="entypo-up-open"></i>
  </a>

  @Scripts.Render("~/bundles/javascript")
</body>
</html>
<!-- output-cache time: @DateTime.Now.ToString("T") -->