@model frontendplay.Models.CommentModel

<li id="comment-@Model.ID">
  @if(!Model.Website.IsEmpty())
  { 
    <a href="@Model.Website" target="_blank"><img src="@Model.Image" alt="@Model.Name" /></a> 
  } 
  else 
  { 
    <img src="@Model.Image" alt="@Model.Name" /> 
  }
  <div>
    <h4>
      @if(!Model.Website.IsEmpty())
      { 
        <a href="@Model.Website" target="_blank">@Model.Name</a> 
      }
      else 
      { 
        @Model.Name 
      }
      <time datetime="@Model.MachineDate"><a href="#comment-@Model.ID">@Model.FullDate</a></time>
    </h4>
    <p>@Model.Comment</p>
  </div>
</li>