@model frontendplay.Models.CommentModel

<h1>Leave a comment</h1>  
@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  @Html.AntiForgeryToken()

  <fieldset>
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name, new { aria_required = true })
    <i class="error"></i>
  </fieldset>
  <fieldset>
    @Html.LabelFor(m => m.Email)
    @Html.EditorFor(m => m.Email, new { aria_required = true })
    <i class="error"></i>
  </fieldset>
  <fieldset>
    <label for="Website">Website <i>(optional)</i></label>
    @Html.EditorFor(m => m.Website)
  </fieldset>
  <fieldset>
    @Html.LabelFor(m => m.Comment)
    @Html.TextAreaFor(m => m.Comment, new { aria_required = true })
    <i class="error"></i>
  </fieldset>
  <fieldset class="commentBody">
    <label for="Body">Body</label>
    <input type="text" id="Body" name="Body" value="" />
  </fieldset>
  <a href="" class="button">add comment</a>
}