@model frontendplay.ViewModels.PostsViewModel
@using frontendplay.Utilities
@{
  ViewBag.Title = "frontendplay - stories about css, javascript, ASP.NET and PCs";
  ViewBag.Description = "frontendplay is a blog by " + System.Configuration.ConfigurationManager.AppSettings["appCreator"] + ", which covers stories about css, javascript, ASP.NET and PCs.";
}

<div id="blog">
@foreach (var item in Model.list)
{
  var url = Url.Action("Post", new { title = UrlEncoder.ToFriendlyUrl(item.Title), id = item.ID });
  <article>
    <h2>
      <a href="@url"> @Html.DisplayFor(_ => item.Title)</a>
    </h2>
    <div>
      <time datetime="@item.MachineDate">
        <span class="month entypo-clock">@item.Month</span>
        <span class="day">@item.Day</span>
      </time>
      <p>@item.ShortText</p>
      <a href="@url" class="button">read the story</a>
    </div>
  </article>
}
  <div class="navigation">
    @if (!String.IsNullOrEmpty(Model.prev))
    {
    <a href="@Model.prev" class="back"><i class="entypo-left-open"></i>show previous stories</a>
    }
    @if (!String.IsNullOrEmpty(Model.next))
    {
    <a href="@Model.next" class="forward"><i class="entypo-right-open"></i></a>
    }
  </div>
</div> 