@model frontendplay.Models.BlogPostModel
@using frontendplay.Utilities

@{
  ViewBag.Title = Model.Title + " - frontendplay";
  ViewBag.Description = OutputUtilities.Chop(Model.ShortText, 160);
}

<div id="blogPost">
  <h1>@Html.DisplayFor(_ => Model.Title)</h1>
  <article>
    @Html.Raw(Model.HtmlText)
    <time datetime="@Model.MachineDate">@Model.FullDate</time>
    <i class="note">written by @Model.Author</i>
  </article>
</div>
<div id="blogComments"></div>
<div id="blogNewComment" data-post="@Model.ID"></div>