@model frontendplay.Models.BlogPostModel
@using frontendplay.Utilities

@{
  ViewBag.Title = Model.Title + " - frontendplay";
  ViewBag.Description = OutputUtilities.Chop(Model.ShortText, 160);
}

<div id="blogPost">
  <h1>@Html.DisplayFor(_ => Model.Title)</h1>
  <article>
    @Html.Raw(Model.HtmlText)
    <time datetime="@Model.MachineDate">@Model.FullDate</time>
    <i class="note">written by @Model.Author</i>
  </article>
</div>
<div id="blogComments">
  <h1><i class="entypo-comment"></i>Comments</h1>
  @if (Model.Comments.Count == 0)
  {
    <em id="noComments">No comments yet :-(</em>
  }
  <ul>
    @foreach(var comment in Model.Comments.OrderByDescending(m => m.CreatedDate))
    {
      @Html.Partial("_Comment", comment)
    }
  </ul>
</div>
<div id="blogNewComment" data-post="/comment/@Model.ID"></div>