@model frontendplay.Models.BlogPostModel
@using frontendplay.Utilities

@{
  ViewBag.Title = Model.Title + " - frontendplay";
  ViewBag.Description = OutputUtilities.Chop(Model.ShortText, 160);
}

<div id="blogPost">
  <h1>@Html.DisplayFor(_ => Model.Title)</h1>
  <article>
    @Html.Raw(Model.HtmlText)
    <time datetime="@Model.MachineDate">@Model.FullDate</time>
    <i class="note">written by @Model.Author</i>
  </article>
</div>
<div id="blogComments">
  @if(Model.Comments.Count == 0)
  {
    <h1>No comments yet &nbsp;<b>:-(</b></h1>
    <div class="noComments"></div>
  }
  else
  {
    <h1><i class="entypo-comment"></i>Comments</h1>
    <ul>
      @foreach(var comment in Model.Comments)
      {
      <li id="comment-@comment.ID">
        <img src="@comment.Image" alt="@comment.Name" />
        <div>
          <h4>Tobias Klika <time datetime="@comment.MachineDate"><a href="#comment-@comment.ID">@comment.FullDate</a></time></h4>
          <p>@comment.Comment</p>
        </div>
      </li>
      }
    </ul>
  }
</div>
<div id="blogNewComment">
  <h1>Leave a comment</h1>  
  <form>
    <fieldset>
      <label for="comment-name">Your name</label>
      <input id="comment-name" name="comment-name" type="text" class="text">
    </fieldset>
    <fieldset>
      <label for="comment-mail">E-mail</label>
      <input id="comment-mail" name="comment-mail" type="email" class="text">
    </fieldset>
    <fieldset>
      <label for="comment-website">Website <i>(optional)</i></label>
      <input id="comment-website" name="comment-website" type="text" class="text">
    </fieldset>
    <fieldset>
      <label for="comment-comment">Comment</label>
      <textarea id="comment-comment" name="comment-comment" class="text"></textarea>
    </fieldset>
    <a href="" class="button">add comment</a>
  </form>
</div>