@model frontendplay.Models.BlogPostModel
@using frontendplay.Utilities

@{
  ViewBag.Title = Model.Title + " - frontendplay";
  ViewBag.Description = OutputUtilities.Chop(Model.ShortText, 160);
}

<div id="blogPost">
  <h1>@Html.DisplayFor(_ => Model.Title)</h1>
  <article>
    @Html.DisplayFor(_ => Model.Text)
    <time datetime="@Model.MachineDate">@Model.FullDate</time>
    <i class="note">written by @Model.Author</i>
  </article>
</div>
<div id="blogComments">
  <h1><i class="entypo-comment"></i>Comments</h1>
  <ul>
    <li id="comment-1">
      <img src="http://www.gravatar.com/avatar/9c61b1f4307425f12f05d3adb930ba66?size=60" alt="Tobias Klika" />
      <div>
        <h4>Tobias Klika <time datetime="2012-03-10T13:58Z"><a href="#comment-1">June, 27th 2013</a></time></h4>
        <p>
          We are excited to announce the availability of four great new add-ons in the Windows Azure Store. If you have not experienced it yet, the Windows Azure Store is a place to discover, purchase, and use premium app services and data sets which complement and extend the native functionality of Windows Azure. Most offers in the Windows Azure Store include a free version, so get started exploring today with no obligation.
        </p>
      </div>
    </li>
    <li id="comment-2">
      <img src="http://www.gravatar.com/avatar/9c61b1f4307425f12f05d3adb930ba66?size=60" alt="Tobias Klika" />
      <div>
        <h4><a href="http://www.anaheimcore.com">Tobias Klika</a> <time datetime="2012-03-10T13:58Z"><a href="#comment-2">June, 27th 2013</a></time></h4>
        <p>
          If you have not experienced it yet, the Windows Azure Store is a place to discover, purchase, and use premium app services and data sets which complement and extend the native functionality of Windows Azure. Most offers in the Windows Azure Store include a free version, so get started exploring today with no obligation.
        </p>
      </div>
    </li>
    <li id="comment-3">
      <img src="http://www.gravatar.com/avatar/9c61b1f4307425f12f05d3adb930ba66?size=60" alt="Tobias Klika" />
      <div>
        <h4>Tobias Klika <time datetime="2012-03-10T13:58Z"><a href="#comment-3">June, 27th 2013</a></time></h4>
        <p>
          We are excited to announce the availability of four great new add-ons in the Windows Azure Store. 
        </p>
      </div>
    </li>
  </ul>
</div>
<div id="blogNewComment">
  <h1>Leave a comment</h1>  
  <form>
    <fieldset>
      <label for="comment-name">Your name</label>
      <input id="comment-name" name="comment-name" type="text" class="text">
    </fieldset>
    <fieldset>
      <label for="comment-mail">E-mail</label>
      <input id="comment-mail" name="comment-mail" type="email" class="text">
    </fieldset>
    <fieldset>
      <label for="comment-website">Website <i>(optional)</i></label>
      <input id="comment-website" name="comment-website" type="text" class="text">
    </fieldset>
    <fieldset>
      <label for="comment-comment">Comment</label>
      <textarea id="comment-comment" name="comment-comment" class="text"></textarea>
    </fieldset>
    <a href="" class="button">add comment</a>
  </form>
</div>